@model WEBTimViec.Models.ChuyenNganh

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus - Thêm chuyên ngành mới </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body class="bg-light">
    <div class="khung">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center mb-4"><i class="fas fa-book"></i> Thêm chuyên ngành mới</h2>

                        <form asp-action="AddChuyenNganh">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ChuyenNganh_name" class="control-label">Tên chuyên ngành</label>
                                <input asp-for="ChuyenNganh_name" class="form-control" />
                                <span asp-validation-for="ChuyenNganh_name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Thêm chuyên ngành</button>
                            </div>
                        </form>

                        <div class="text-center">
                            <a href="@Url.Action("ListChuyenNganh")" class="btn btn-link">Quay lại danh sách chuyên ngành</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript here -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
