@model WEBTimViec.Models.ThanhPho
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<p>
    <a href="@Url.Action("IndexThanhPho")" class="btn btn-primary">Back to list</a>
</p>
<body>
    <header>
        <h1>Thêm chuyên ngành</h1>
    </header>

    <form asp-action="AddThanhPho">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ThanhPho_name" class="control-label"><i class="fas fa-user"></i> Tên thành phố</label>
            <input asp-for="ThanhPho_name" class="form-control" />
            <span asp-validation-for="ThanhPho_name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" />
        </div>
    </form>
</body>
