@model IEnumerable<WEBTimViec.Models.ApplicationUser>

<header>
    <div class="container">
        <h1><a asp-controller="Home" asp-action="Index">JobPlus</a></h1>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li><a asp-controller="Home" asp-action="ListChuyenNganh">Chuyên Ngành</a></li>
                <li><a asp-controller="Home" asp-action="ListThanhPho">Thành phố</a></li>
                <li><a asp-controller="Home" asp-action="ListBaiTuyenDung">Bài tuyển dụng</a></li>
                <li><a asp-controller="Home" asp-action="ListNhaTuyenDung">Nha tuyển dụng</a></li>
                <li><a asp-controller="Home" asp-action="DSUngTuyen">Ứng tuyển</a></li>
            </ul>
        </nav>
    </div>
</header>