@model IEnumerable<WEBTimViec.Models.ViTriCongViec>

@{
    ViewData["Title"] = "ListVTCongViec";
}


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/NhaTuyenDung.css">
</head>
<body class="bg-light">
    <div class="khung3">
        <h1 class="text-center mb-4">Danh sách các thành phố</h1>

        <p class="text-center">
            <a href="@Url.Action("AddVTCongViec")" class="btn btn-primary mb-4">Thêm vị trí công việc mới</a>
        </p>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@item.ViTriCongViec_name</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- JavaScript here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
