
/* Các media query trong CSS */
@media (max-width: 768px) {
    .job-images

{
    flex-direction: column;
    align-items: center;
}

.job-image {
    max-width: 100%;
    margin-bottom: 15px;
}

}

