@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobPlus</title>
    <link rel="stylesheet" href="~/css/ViewIndex.css">
</head>
<body class="background">
    <h1>@ViewData["Title"]</h1>
    <div class="form-container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                    <h4 class="custom-heading">Tạo tài khoản mới</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control">
                            <option disabled selected>-select Role-</option>
                        </select>
                    </div>
                    <button id="registerSubmit" type="submit" class="button1">Đăng ký</button>
                    <p>
                        <a class="text" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"> -> Đã có tài khoản </a>
                    </p>
                </form>
            </div>
        </div>
    </div>

</body>