@model WEBTimViec.Models.UngTuyen
@* @{
    ViewData["Title"] = "Ứng tuyển";
} *@
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/NhaTuyenDung.css">
</head>
<div class="ha1">
    <div class="khungchu2">
        <div class="khungchu2">

            <h3 class="tieude">Ứng tuyển cho công việc: @ViewBag.BaiTuyenDung.TenCongViec</h3>

            <form asp-action="UngTuyen" method="post" enctype="multipart/form-data">
                <div class="info-section">
                    <div class="info-item1">
                        <label asp-for="url_CV" class="form-label me-2 mb-0">Tên ứng viên</label>
                        <input type="text" class="form-control" value="@ViewBag.NguoiDung.FullName" readonly>
                    </div>
                    <div class="info-item1">
                        <label asp-for="url_CV" class="form-label me-2 mb-0">Chọn CV</label>
                        <input type="file" asp-for="url_CV" class="form-control bg-white" required>
                        <span asp-validation-for="url_CV" class="text-danger"></span>
                    </div>
                    <div class="info-item1">
                        <textarea class="form-control" asp-for="ThuGioiThieu" rows="5" placeholder="Thư giới thiệu" required></textarea>
                        <span asp-validation-for="ThuGioiThieu" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Ứng tuyển ngay</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
