@model WEBTimViec.Models.ApplicationUser
@{
    ViewData["Title"] = "Cập nhật thông tin Profile";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/NhaTuyenDung.css">
</head>
<button class=" styled-button">
    <a style="color: black;" href="@Url.Action("IndexProfileUV", "UV")"> <<< </a>
</button>

<h1 class=" tieude">Cập nhật thông tin Profile </h1>
<div class="khung">

    <form asp-action="UpdateProfileUV" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="info-section">
            <h3 style="font-family: 'Times New Roman'" class="text-right">Thông tin ứng viên</h3>
        </div>
        <div class="info-section">
            <div class="info-item1">
                <label asp-for="FullName" class="control-label">Họ và tên</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="info-item1">
                <label asp-for="SDT_UngVien" class="control-label">Số điện thoại</label>
                <input asp-for="SDT_UngVien" class="form-control" />
                <span asp-validation-for="SDT_UngVien" class="text-danger"></span>
            </div>
            <div class="info-item1">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="info-item1">
                <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
                <input type="date" asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
@*             <div class="info-item1">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> *@
            <div class="info-item1">
                <label asp-for="TuGioiThieu" class="control-label">Giới thiệu bản thân</label>
                <input asp-for="TuGioiThieu" class="form-control" />
                <span asp-validation-for="TuGioiThieu" class="text-danger"></span>
            </div>
            <div class="info-item1">
                <label for="image_url">Avatar</label>
                @if (!string.IsNullOrEmpty(Model.image_url))
                {
                    <img src="@Model.image_url" alt="Ảnh đại diện" style="max-width:200px; cursor:pointer;" id="previewImage" onclick="changeImage()" />
                    <input type="file" id="image_url" name="image_url" class="form-control" accept="image/*" style="display:none;" onchange="previewFile(this);" />
                }
                else
                {
                    <input type="file" id="image_url" name="image_url" class="form-control" accept="image/*" onchange="previewFile(this);" />
                }
                <span asp-validation-for="image_url" class="text-danger"></span>
            </div>

        </div>
        <div class="mt-5 text-center">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>
</div>

<script>
    function changeImage() {
        var inputFile = document.getElementById('image_url');
        inputFile.click();
    }

    function previewFile(input) {
        var file = input.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var previewImage = document.getElementById('previewImage');
            previewImage.src = e.target.result;
        }

        reader.readAsDataURL(file);
    }
</script>





