@model WEBTimViec.Models.BaiTuyenDung

@{
    ViewData["Title"] = "Create Post Job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Thêm tin tuyển dụng</h1>
<hr />
<div class="row">
    <div class="col-md-4 d-flex justify-content-center">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenBaiTuyenDung" class="control-label"><i class="fas fa-user"></i> Tên công việc</label>
                <input asp-for="TenBaiTuyenDung" class="form-control" required />
                <span asp-validation-for="TenBaiTuyenDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTaCongViec" class="control-label"><i class="fas fa-file-alt"></i> Mô tả công việc</label>
                <textarea asp-for="MoTaCongViec" class="form-control" rows="5" required></textarea>
                <span asp-validation-for="MoTaCongViec" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="YeuCauKyNang" class="control-label"><i class="fas fa-check"></i> Yêu cầu công việc</label>
                <textarea asp-for="YeuCauKyNang" class="form-control" rows="5" required></textarea>
                <span asp-validation-for="YeuCauKyNang" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="PhucLoi" class="control-label"><i class="fas fa-gift"></i> Phúc lợi</label>
                <textarea asp-for="PhucLoi" class="form-control" rows="5" required></textarea>
                <span asp-validation-for="PhucLoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KieuCongViec" class="control-label"><i class="fas fa-briefcase"></i> Loại công việc</label>
                <select asp-for="KieuCongViec" class="form-control">
                    <option value="Full-Time">Full-Time</option>
                    <option value="Part-Time">Part-Time</option>
                </select>
                <span asp-validation-for="KieuCongViec" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label asp-for="Luong_min" class="control-label"><i class="fas fa-money-bill"></i> Lương từ</label>
                        <div class="input-group">
                            <input asp-for="Luong_min" class="form-control" type="number" required />
                            <div class="input-group-append">
                                <span class="input-group-text">triệu đồng</span>
                            </div>
                        </div>
                        <span asp-validation-for="Luong_min" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Luong_max" class="control-label"><i class="fas fa-money-bill"></i> Đến</label>
                        <div class="input-group">
                            <input asp-for="Luong_max" class="form-control" type="number" required />
                            <div class="input-group-append">
                                <span class="input-group-text">triệu đồng</span>
                            </div>
                        </div>
                        <span asp-validation-for="Luong_max" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ThoiGianCapNhat" class="control-label"><i class="fas fa-calendar"></i> Hạn nộp hồ sơ</label>
                <input asp-for="ThoiGianCapNhat" class="form-control datepicker" asp-format="{0:dd/MM/yy}" required />
                <span asp-validation-for="ThoiGianCapNhat" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="thanhPho.ThanhPho_name" class="control-label" style="font-weight: bold;">
                    <i class="fas fa-map-marker-alt"></i> <!-- Icon "Map Marker" của Font Awesome -->
                    Địa điểm công ty
                </label>
                <select asp-for="thanhPho.ThanhPho_name" asp-items="ViewBag.ThanhPho" class="form-control">
                    <option value="">-- Chọn tỉnh - Thành phố --</option>
                </select>
                <span asp-validation-for="thanhPho.ThanhPho_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="kinhNghiem.NamKinhNghiem" class="control-label" style="font-weight: bold;">
                    <i class="fas fa-user-tie"></i> <!-- Icon "User Tie" của Font Awesome -->
                    Kinh nghiệm ứng viên
                </label>
                <select asp-for="kinhNghiem.NamKinhNghiem" asp-items="ViewBag.KinhNghiem" class="form-control">
                    <option value="">-- Chọn Kinh nghiệm --</option>
                </select>
                <span asp-validation-for="kinhNghiem.NamKinhNghiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="chuyenNganh.ChuyenNganh_name" class="control-label" style="font-weight: bold;">
                    <i class="fas fa-user-tie"></i> <!-- Icon "User Tie" của Font Awesome -->
                    Chuyên ngành ứng viên
                </label>
                <select asp-for="chuyenNganh.ChuyenNganh_name" asp-items="ViewBag.ChuyenNganh" class="form-control">
                    <option value="">-- Chọn Chuyên Ngành --</option>
                </select>
                <span asp-validation-for="chuyenNganh.ChuyenNganh_name" class="text-danger"></span>
            </div>
            </>
@*             <div class="form-group">
                <label asp-for="majorId" class="control-label" style="font-weight: bold;">
                    <i class="fas fa-graduation-cap"></i> <!-- Icon "Graduation Cap" của Font Awesome -->
                    Chuyên ngành
                </label>
                <select asp-for="majorId" asp-items="ViewBag.majors" class="form-control">
                    <option value="">-- Chọn chuyên ngành --</option>
                </select>
                <span asp-validation-for="majorId" class="text-danger"></span>
            </div> *@
@* 
            <div class="form-group">
                <label asp-for="detail_location" class="control-label"><i class="fas fa-map-marker-alt"></i> Địa điểm cụ thể</label>
                <input asp-for="detail_location" class="form-control" required />
                <span asp-validation-for="detail_location" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a class="btn btn-primary" href="/Company/Home/view_post">Trở về</a>
</div> *@
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy', // Định dạng ngày tháng
            autoclose: true // Tự động đóng khi chọn ngày
        });
    });
</script>
