@model WEBTimViec.Models.BaiTuyenDung

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BaiTuyenDung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BaiTuyenDung_id" />
            <div class="form-group">
                <label asp-for="TenCongViec" class="control-label"></label>
                <input asp-for="TenCongViec" class="form-control" />
                <span asp-validation-for="TenCongViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTaCongViec" class="control-label"></label>
                <input asp-for="MoTaCongViec" class="form-control" />
                <span asp-validation-for="MoTaCongViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YeuCauKyNang" class="control-label"></label>
                <input asp-for="YeuCauKyNang" class="form-control" />
                <span asp-validation-for="YeuCauKyNang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhucLoi" class="control-label"></label>
                <input asp-for="PhucLoi" class="form-control" />
                <span asp-validation-for="PhucLoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luong_min" class="control-label"></label>
                <input asp-for="Luong_min" class="form-control" />
                <span asp-validation-for="Luong_min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luong_max" class="control-label"></label>
                <input asp-for="Luong_max" class="form-control" />
                <span asp-validation-for="Luong_max" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KieuCongViec" class="control-label"></label>
                <input asp-for="KieuCongViec" class="form-control" />
                <span asp-validation-for="KieuCongViec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KyNangMemId" class="control-label"></label>
                <select asp-for="KyNangMemId" class="form-control" asp-items="ViewBag.KyNangMemId"></select>
                <span asp-validation-for="KyNangMemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianDangBai" class="control-label"></label>
                <input asp-for="ThoiGianDangBai" class="form-control" />
                <span asp-validation-for="ThoiGianDangBai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianHetHan" class="control-label"></label>
                <input asp-for="ThoiGianHetHan" class="form-control" />
                <span asp-validation-for="ThoiGianHetHan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thanhPhoId" class="control-label"></label>
                <select asp-for="thanhPhoId" class="form-control" asp-items="ViewBag.thanhPhoId"></select>
                <span asp-validation-for="thanhPhoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kinhNghiemId" class="control-label"></label>
                <select asp-for="kinhNghiemId" class="form-control" asp-items="ViewBag.kinhNghiemId"></select>
                <span asp-validation-for="kinhNghiemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
