@model IEnumerable<WEBTimViec.Models.BaiTuyenDung>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/BaiTuyenDung.css">
</head>
<body>
    <div class="khung">
        <h1 class="tieude">Danh sách bài ứng tuyển</h1>
        <div class="card-container">
            @foreach (var ungTuyen in Model)
            {
                <div class="col-md-4">

                <div class="card" data-url="@Url.Action("DetailsUngTuyen", "NTD", new { id = ungTuyen.BaiTuyenDung_id })">
                    <div class="card-body">
                        <h5 class="card-title"><strong>Công ty: </strong>@ungTuyen.applicationUser.NhaTuyenDung_name</h5>
                        <h5 class="card-title"><strong>Công việc: </strong>@ungTuyen.TenCongViec</h5>
                        <a href="@Url.Action("DetailsUngTuyen", "NTD", new { id = ungTuyen.BaiTuyenDung_id })" class="btn btn-info">Chi tiết</a>
                    </div>
                </div>
                </div>
            }
        </div>
    </div>
</body>
</html>