@model WEBTimViec.Models.ApplicationUser
@{
    ViewData["Title"] = "Cập nhật thông tin Profile";
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<hr />

<h1 class="tieude">Cập nhật thông tin Profile </h1>
<div class="container-fluid bg-white mt-5 mb-5">
    <div class="row">
        <form asp-action="UpdateProfileNTD" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h3 style="font-family: 'Times New Roman'" class="text-right">Thông tin nhà tuyển dụng</h3>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label asp-for="NhaTuyenDung_name" style="font-family: 'Times New Roman'; font-size: 20px" class="control-label">Tên công ty</label>
                            <input asp-for="NhaTuyenDung_name" style="font-family: 'Times New Roman'; font-size: 18px" class="form-control" value="@Model.NhaTuyenDung_name" />
                            <span asp-validation-for="NhaTuyenDung_name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="SDTNhaTuyenDung" style="font-family: 'Times New Roman'; font-size: 20px" class="control-label">Số điện thoại công ty</label>
                            <input asp-for="SDTNhaTuyenDung" style="font-family: 'Times New Roman'; font-size: 18px" class="form-control" />
                            <span asp-validation-for="SDTNhaTuyenDung" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Website" style="font-family: 'Times New Roman'; font-size: 20px" class="control-label">Website</label>
                            <input asp-for="Website" style="font-family: 'Times New Roman'; font-size: 18px" class="form-control" />
                            <span asp-validation-for="Website" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label asp-for="FullName" style="font-family: 'Times New Roman'; font-size: 20px" class="control-label">Tên cá nhân</label>
                            <input asp-for="FullName" style="font-family: 'Times New Roman'; font-size: 18px" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="DiaChi" style="font-family: 'Times New Roman'; font-size: 20px">Địa điểm công ty</label>
                            <input asp-for="DiaChi" style="font-family: 'Times New Roman'; font-size: 18px" class="form-control" />
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>
                        <div class="col-md-12">
                            <label asp-for="GioiThieuNhaTuyenDung" style="font-family: 'Times New Roman'; font-size: 20px" class="control-label">Giới thiệu về công ty</label>
                            <textarea asp-for="GioiThieuNhaTuyenDung" class="form-control" style="font-family: 'Times New Roman'; height: 200px; font-size: 18px"></textarea>
                            <span asp-validation-for="GioiThieuNhaTuyenDung" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="image_url">Logo công ty</label>
                            <input type="file" id="image_url" name="image_url" class="form-control" accept="image/*" />
                            <img src="@Model.image_url" alt="Logo công ty" style="max-width:200px;" id="previewImage" />
                            <span asp-validation-for="image_url" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="mt-5 text-center">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>